@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
  --overlay-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  --hero-bg-image-url: url('https://images.unsplash.com/photo-1604776286155-4759c16ea8b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #f4f4f4;
  color: #1d1d1d;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  color: #f4f4f4;
  background-color: #1d1d1d;
  position: fixed;
  padding: 10px 0;
  z-index: 10;
  transition: 0.4s ease-in;
}

.nav.scroll {
  color: #1d1d1d;
  background-color: #f4f4f4;
  padding: 5px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-family: 'Redressed', sans-serif;
  font-size: 2rem;
  padding: 0 15px;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  padding: 7px 15px;
  font-weight: bold;
}

.nav__item:hover {
  color: #b92020;
}

.nav__item--current {
  color: #b92020;
}

.nav__item--current:hover {
  opacity: 0.8;
}

.hero {
  background-image: var(--overlay-gradient), var(--hero-bg-image-url);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #f4f4f4;
  text-align: center;
}

.hero__header {
  font-size: 2.4rem;
  margin: 0;
}

.hero__header--style {
  font-family: 'Redressed', sans-serif;
  font-weight: normal;
}

.hero__text {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.contents {
  padding: 50px 0;
}

.content__header {
  font-size: 1.6rem;
}

.content__text {
  line-height: 1.7;
  letter-spacing: 1.2px;
}
