@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, rgb(190, 190, 190), #e5ff004b);
}

.pokemons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  max-width: 1200px;
}

.pokemon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgb(200, 238, 200);
}

.pokemon .image-frame {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  margin-top: 24px;
}

.pokemon .image-frame::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transform: translateY(-24px);
  background-color: #f1f1f1bb;
}

.pokemon .image {
  position: relative;
  width: 100%;
}

.pokemon .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: bold;
}

.pokemon .id {
  padding: 0.4rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.pokemon .name {
  font-size: 1.5rem;
}

.pokemon .type::before {
  content: 'Type: ';
}
